:host {
	display: block;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border-bottom: 2px var(--border-color) solid;
	padding: 0 var(--space-m);
}

.header__nav {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: var(--space-s);
}

.header__logo-link {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-medium);
}

.header__link {
	font-size: var(--font-size-md);
	text-decoration: none;
	color: var(--text-color);
}

.header__link:active {
	color: var(--active-link-color);
}

.header__link:hover {
	text-decoration: underline;
}
