.dashboard {
	padding: 24px;
}

.dashboard__table {
	width: 100%;
	box-shadow:
		inset 0 5px 5px -3px rgb(0 0 0 / 20%),
		0 8px 10px 1px rgb(0 0 0 / 14%),
		0 3px 14px 2px rgb(0 0 0 / 12%);
}

.dashboard__title {
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
}

.dashboard__content {
	font-size: 10px;
	text-align: center;
}

.dashboard__message {
	font-style: italic;
}

.cover__wrapper {
	padding: 10px 0;
	width: 100px;
	height: 100px;
}

.cover__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 786px) {
	.dashboard__title {
		font-size: 14px;
	}

	.dashboard__content {
		font-size: 12px;
	}
}

@media (min-width: 1280px) {
	.cover__wrapper {
		width: 150px;
		height: 150px;
	}

	.dashboard__title {
		font-size: 16px;
	}

	.dashboard__content {
		font-size: 14px;
	}
}
