<div class="dashboard">

	@if (animeParams$ | async; as animeParams) {

		<camp-filter-form (typeSelectEvent)="setTypeSelect($event)"
											(searchEvent)="setSearchSubmit($event)"
											[searchValue]="animeParams.search"
											[typesValue]="animeParams.type"/>

		@if (animeListPage$ | async; as animeListPage) {
		<camp-table [pageData]="animeListPage"
								[ordering]="animeParams.ordering"
								(sortEvent)="setOrdering($event)"
								(paginationEvent)="setPage($event)" />
		} @else {
		<camp-progress-bar/>
		}

	}

</div>
