:host {
	/* Variables for table font sizes */
	--font-size-title-s: 12px;
	--font-size-title-m: 14px;
	--font-size-title-l: 16px;
	--font-size-content-s: 10px;
	--font-size-content-m: 12px;
	--font-size-content-l: 14px;
}

.dashboard {
	padding: var(--space-m);
}

.dashboard__table {
	width: 100%;
	box-shadow:
		inset 0 5px 5px -3px rgb(0 0 0 / 20%),
		0 8px 10px 1px rgb(0 0 0 / 14%),
		0 3px 14px 2px rgb(0 0 0 / 12%);
}

.dashboard__title {
	text-transform: uppercase;
	font-size: var(--font-size-title-s);
	text-align: center;
}

.dashboard__content {
	font-size: var(--font-size-content-s);
	text-align: center;
}

.cover__wrapper {
	padding: var(--space-xs) 0;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.cover__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 786px) {
	.dashboard__title {
		font-size: var(--font-size-title-m);
	}

	.dashboard__content {
		font-size: var(--font-size-content-m);
	}
}

@media (min-width: 1280px) {
	.cover__wrapper {
		width: 150px;
		height: 150px;
	}

	.dashboard__title {
		font-size: var(--font-size-title-l);
	}

	.dashboard__content {
		font-size: var(--font-size-content-l);
	}
}
