<div class="dashboard">
	@if (animeParams$ | async; as animeParams) {
		<camp-filter-form (typeSelectEvent)="onTypeChange($event)"
											(searchEvent)="onSearchChange($event)"
											[searchValue]="animeParams.search"
											[typesValue]="animeParams.type"/>
		@if (animeListPage$ | async; as animeListPage) {
		<camp-table [pageData]="animeListPage"
								[ordering]="animeParams.ordering"
								[limit]="animeParams.limit"
								[offset]="animeParams.offset"
								(sortEvent)="onOrderingChange($event)"
								(paginationEvent)="onPageChange($event)"/>
		} @else {
		<camp-progress-bar/>
		}
	}
</div>
