.list {
	width: 100%;
	overflow-y: auto;
	border: 1px var(--border-color) solid;
	height: calc(100% - var(--form-field-height) - (2 * var(--space-s)));
	padding-top: 0;
}

.list__item {
	border: 1px var(--border-color) solid;
	color: var(--primary-font-color);
}

.list__item:hover,
.list__item:focus {
	cursor: pointer;
	background-color: var(--hover-color);
}
