<div class="login-form-wrapper">
	<h2 class="login-header">Login</h2>
		<form
			class="login-form"
			[formGroup]="loginFormService.form"
			(ngSubmit)="onLoginSubmit()"
		>

			<mat-form-field
				appearance="outline"
				class="login-form__field"
			>
				<mat-label>Email</mat-label>
				<input
					matInput
					type="email"
					placeholder="ivan.pupkin@gmail.com"
					[formControl]="loginFormService.form.controls.email"
				>
				@if (loginFormService.form.get('email')?.hasError('required') && loginFormService.form.get('email')?.touched) {
					<mat-error>Email is required.</mat-error>
				} @else if (loginFormService.form.get('email')?.hasError('email') && loginFormService.form.get('email')?.touched) {
					<mat-error>Enter a valid email address.</mat-error>
				}
			</mat-form-field>

			<mat-form-field
				appearance="outline"
				class="login-form__field"
			>
				<mat-label>Password</mat-label>
				<input
					matInput
					type="password"
					placeholder="veryStrongPassW0rd"
					[formControl]="loginFormService.form.controls.password"
				>
				@if (loginFormService.form.get('password')?.hasError('required') && loginFormService.form.get('password')?.touched) {
					<mat-error>Password is required.</mat-error>
				}
			</mat-form-field>

			@if (loginFormService.form.hasError('serverError')) {
				<mat-error>{{loginFormService.form.getError('serverError')}}</mat-error>
			}

			<button
				mat-raised-button
				type="submit"
				[disabled]="loginFormService.form.invalid"
			>
				Login
			</button>

		</form>
</div>
