<nav class="authorization-menu">
	@if (user$ | async; as user) {
		<div class="greeting-message">
			Hi,&nbsp;
			<span>{{user.firstName}}</span>
			&nbsp;
			<span>{{user.lastName}}</span>
			!
		</div>
		<button
			class="authorization-menu__logout"
			type="button"
			(click)="onLogoutClick()"
		>
			Logout
		</button>
	} @else {
		<a
			class="authorization-menu__link"
			[routerLink]="['/' + routerPaths.Registration]"
		>
			Registration
		</a>
		<a
			class="authorization-menu__link"
			[routerLink]="['/' + routerPaths.Login]"
		>
			Authorization
		</a>
	}
</nav>
