:host {
	--button-margin-bottom: 20px;
}

.filter-form {
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: var(--space-s);
}

.search-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-s);
}
