<div class="filter-form">
	<mat-form-field>
		<mat-label>Types</mat-label>
		<mat-select [formControl]="typesControl" multiple (selectionChange)="onTypeSelect()">
			@for (type of typesList; track type) {
				<mat-option [value]="type">{{type}}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	<form [formGroup]="searchForm"
				(ngSubmit)="onSearchSubmit()"
				class="filter-form__search-form search-form">
		<mat-form-field class="search search-form-field"
										appearance="outline">
			<mat-label>Anime title</mat-label>
			<input matInput
						 formControlName="term"
						 placeholder="Type to Search"
						 class="search-form__input"/>
		</mat-form-field>
		<button mat-raised-button
						extended
						type="submit"
						class="search-form__button">
			<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
			Search
		</button>
	</form>
</div>
