:host {
	--button-margin-bottom: 20px;
}

.filter-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-s);
}

.search-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--space-s);
}

.search-form__button {
	/* Used margin, because mat-form-field component creates an empty component of this height from below itself.
	Which makes it difficult to align the mat-form-field and the button relative to each other  */
	margin-bottom: var(--button-margin-bottom);
}
