@import url("../global/index.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

a {
  text-decoration: none;
  border: none;
  color: var(--on-surface);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  cursor: pointer;
}

a:active {
  color: var(--primary);
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  min-width: 360px;
  padding: 0 24px;
  /* display: flex;
  flex-direction: column;
  gap: 24px; */
}

header {
  height: 64px;
  border-bottom: 1px var(--border) solid;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
}

.year-title {
  position: sticky;
  top: 0;
  background-color: var(--surface);
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  padding-bottom: 24px;
}

.filters {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 40px;
  border-bottom: 1px var(--border) solid;
}

.filters-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-input {
  width: 100%;
  background-color: var(--surface-overlay);
  border: none;
  height: 48px;
  border-radius: 16px;
  padding: 0 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

.text-input::placeholder {
  color: var(--on-surface-dim);
}

.search {
  background-image: url("./assets/icons/search.svg");
  background-position: 19px 15px;
  background-repeat: no-repeat;
  padding: 0 19px 0 48px;
}

.sort-field-select {
  appearance: none;
  background-image: url("./assets/icons/arrow.svg");
  background-position: 234px 20px;
  background-repeat: no-repeat;
  padding-left: 19px;
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px var(--border) solid;
  border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  border-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
  left: 3px;
  top: 3px;
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 2px;
  /* border: solid white; */
  border-width: 0 3px 3px 0;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content__year {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
}

.books-container {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.book {
  width: 148px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.book-picture {
  width: 100%;
  height: 250px;
  border-radius: 24px;
}

.book-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

.copyright {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
}

footer {
  border-top: 1px var(--border) solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 40px;
  padding: 24px 0 52px;
}

.footer-logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-link {
  width: 100%;
  text-align: right;
  border: none;
}

.contact-link {
  text-decoration: underline;
}

@media (min-width: 786px) {
  .filters-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .text-input {
    width: 256px;
  }

  .book {
    width: 172px;
  }

  footer {
    padding: 24px 0 80px;
  }

  .footer-logo-container {
    width: 281px;
  }

  .top-link {
    width: 114px;
  }
}

@media (min-width: 1280px) {
  body {
    padding: 0 40px;
  }

  .container {
    /* flex-direction: row-reverse; */
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    width: calc(100% - 276px);
  }

  .filters {
    border-bottom: none;
    position: fixed;
		top: 64px;
		right: 0;
  }

  .filters-form {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .text-input {
    width: 276px;
  }

  .book {
    width: 167px;
  }
}

@media (min-width: 1920px) {
  body {
    padding: 0 338px;
  }

  .text-input {
    width: 320px;
  }
}
