@import url("../../global/index.css");

.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: 400px;
	gap: 8px;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.container__item {
	border: 2px #f0eeee solid;
	width: 100%;
}

.button {
	height: 32px;
	padding: 0 16px;
	cursor: pointer;
}
