<div class="go-back-button__container">
	<button mat-raised-button
				type="button"
				class="go-back-button"
				(click)="onGoBack()">
	<mat-icon class="go-back-button__icon">arrow_back</mat-icon>
	Go back
</button>
</div>
<div class="anime-details-wrapper">
	@if(anime$ | async; as anime) {
		<article class="anime-details">
			<h2 class="anime-details__header">{{anime.englishTitle ? anime.englishTitle : anime.japaneseTitle}}</h2>
			<div class="anime-details__content">
				<div class="anime-details__content__subsection subsection">
					<section class="subsection__cover cover">
						<div class="cover__wrapper"
								 tabindex="0"
								 (keydown)="onKeyDown($event, anime.image, anime.japaneseTitle || 'Anime' + ' cover')">
							<img fill
									priority
									class="cover__image"
									[ngSrc]="anime.image"
									[alt]="(anime.japaneseTitle || 'Anime') + ' cover'"
									(click)="onOpenDialog(anime.image, (anime.japaneseTitle || 'Anime') + ' cover')">
						</div>
					</section>
					<section class="subsection__synopsis synopsis">
						<h3 class="synopsis__header">Synopsis:</h3>
						<div class="synopsis__text">{{anime.synopsis | empty}}</div>
					</section>
				</div>
				<section>
					<mat-list class="anime-details__list">
						<mat-list-item>
							<span matListItemTitle >English title</span>
							<span matListItemLine>{{anime.englishTitle | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle>Japanese title</span>
							<span matListItemLine>{{anime.japaneseTitle | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle>Airing</span>
							@if(anime.airing) {
								<span matListItemLine>Is airing now</span>
							} @else {
								<span matListItemLine>Is not airing</span>
							}
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle>Aired started with</span>
							<span matListItemLine>{{anime.aired.start | date: "mediumDate" | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle>Aired ended</span>
							<span matListItemLine>{{anime.aired.end | date: "mediumDate" | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle >Type</span>
							<span matListItemLine>{{anime.type}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle >Status</span>
							<span matListItemLine>{{anime.status}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle>Rating</span>
							<span matListItemLine>{{anime.rating}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle>Source</span>
							<span matListItemLine>{{anime.source}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle>Season</span>
							<span matListItemLine>{{anime.season}}</span>
						</mat-list-item>
						<mat-list-item class="anime-details__list__item item">
							<span matListItemTitle>Studios</span>
							<span matListItemLine class="item__value">
								@if (anime.studiosData.length > 0) {
									@for (studio of anime.studiosData; track studio.id; let last = $last) {
										@if(!last) {
											<span>{{studio.name}},&nbsp;</span>
										} @else {
											<span>{{studio.name}}</span>
										}
									}
								} @else {
									<span>&mdash;</span>
								}
							</span>
						</mat-list-item>
						<mat-list-item class="anime-details__list__item item">
							<span matListItemTitle>Genres</span>
							<span matListItemLine class="item__value">
								@if (anime.genresData.length > 0) {
									@for (genre of anime.genresData; track genre.id; let last = $last) {
										@if(!last) {
											<span>{{genre.name}},&nbsp;</span>
										} @else {
											<span>{{genre.name}}</span>
										}
									}
								} @else {
									<span>&mdash;</span>
								}
							</span>
						</mat-list-item>
					</mat-list>
				</section>
				<section class="anime-details__content__trailer">
					@if(anime.trailerYoutubeId) {
						<iframe allowfullscreen
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
										frameborder="0"
										[title]="anime.japaneseTitle || 'Anime' + ' cover'"
										[width]="playerWidth"
										[height]="playerHeight"
										[src]="sanitizer.bypassSecurityTrustResourceUrl(videoUrl + anime.trailerYoutubeId)">
						</iframe>
					}
				</section>
			</div>
		</article>
	} @else {
		<camp-progress-bar/>
	}
</div>

