@if(anime$ | async; as anime) {
	<div class="anime-details-wrapper">
		<article class="anime-details">
			<h2 class="anime-details__header">{{anime.englishTitle ? anime.englishTitle : anime.japaneseTitle}}</h2>
			<section class="anime-details__content">
				<section class="anime-details__cover cover">
					<div class="cover__wrapper">
						<img [ngSrc]="anime.image"
								 fill
								 priority
								 [alt]="anime.japaneseTitle + ' cover'"
								 class="cover__image">
					</div>
				</section>
				<section class="anime-details__info">
					<mat-list class="anime-details__info__list">
						<mat-list-item class="anime-details__info-field">
							<span matListItemTitle class="anime-details__info-field__name">English title</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.englishTitle | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Japanese title</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.japaneseTitle | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Airing</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.airing}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Aired started with</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.aired.start | date: "mediumDate" | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Aired ended</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.aired.end | date: "mediumDate" | empty}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Type</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.type}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Status</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.status}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Rating</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.rating}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Source</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.source}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Season</span>
							<span matListItemLine class="anime-details__info-field__value">{{anime.season}}</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Studios</span>
							<span matListItemLine class="anime-details__info-field__value value">
								@if (anime.studiosData.length > 0) {
									@for (studio of anime.studiosData; track studio.id) {
										<span class="value__part">{{studio.name}}</span>
									}
								} @else {
									<span>&mdash;</span>
								}
							</span>
						</mat-list-item>
						<mat-list-item>
							<span matListItemTitle class="anime-details__info-field__name">Genres</span>
							<span matListItemLine class="anime-details__info-field__value value">
								@if (anime.genresData.length > 0) {
									@for (genre of anime.genresData; track genre.id) {
										<span class="value__part">{{genre.name}}</span>
									}
								} @else {
									<span>&mdash;</span>
								}
							</span>
						</mat-list-item>
					</mat-list>
				</section>
			</section>
		</article>
	</div>
}
