.go-back-button__container {
	padding: var(--space-m) var(--space-xl) 0 var(--space-xl);
}

.go-back-button {
	font-size: var(--font-size-md);
}

.go-back-button__icon {
	font-size: var(--font-size-md);
}

.anime-details {
	padding: var(--space-m) var(--space-xl);
}

.anime-details__header {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-medium);
}

.anime-details__content {
	display: flex;
	flex-direction: row;
	gap: var(--space-m);
}

.cover {
	padding: var(--space-m) 0;
}

.cover__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 300px;
	height: 300px;
	border-radius: 8px;
	box-shadow: 5px 5px 10px 5px var(--shadow-color);
}

.cover__image {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.anime-details__trailer {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	flex-grow: 1;
}
