@if (isLoading$ | async) {
	<camp-progress-bar/>
}
<div class="dashboard">
	@if (animeParams$ | async; as animeParams) {
		<camp-anime-filter-form
			[searchValue]="animeParams.searchTerm"
			[typesValue]="animeParams.selectedTypes"
			(animeFiltersChange)="onAnimeFiltersChange($event)"
		/>
		@if (animeListPage$ | async; as animeListPage) {
				<camp-anime-table
					[pageData]="animeListPage"
					[sortingSettings]="animeParams.sortingSettings"
					[pageSize]="animeParams.pageSize"
					[pageIndex]="animeParams.pageIndex"
					(sortingChange)="onSortingChange($event)"
					(paginationChange)="onPaginationChange($event)"
					(animeSelectionChange)="onAnimeSelect($event)"
				/>
		}
	}
</div>
