/* Header styles */
header {
  --header-height: 64px;

  height: var(--header-height);
  border-bottom: 1px var(--border) solid;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.logo {
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}

/* Footer styles */
footer {
  border-top: 1px var(--border) solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: var(--space-10);
  padding: var(--space-6) 0 var(--space-13);
}

.footer-logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  line-height: 1.15;
}

.top-link {
  width: 100%;
  text-align: right;
  border: none;
}

.contact-link {
  text-decoration: underline;
}
