:root {
  /* Variables for colors */
  --primary: rgb(241 89 36 / 100%);
  --border: rgb(0 0 0 / 15%);
  --surface: rgb(255 255 255 / 100%);
  --surface-overlay: rgb(0 0 0 / 5%);
  --on-surface: rgb(0 0 0 / 100%);
  --on-surface-dim: rgb(0 0 0 / 50%);

  /* Variables for font sizes */
  --font-size-body: 20px;
  --font-size-body-small: 16px;
  --font-size-subtitle: 18px;
  --font-size-logo: 20px;

  /* Variables for font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Variables for spaces */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-12: 48px;
  --space-13: 52px;
  --space-16: 64px;
  --space-20: 80px;
}
