:root {
  /* Variables for colors */
  --primary-accent-color: rgb(241 89 36 / 100%);
  --border-color: rgb(0 0 0 / 15%);
  --surface-color: rgb(255 255 255 / 100%);
  --surface-overlay-color: rgb(0 0 0 / 5%);
  --on-surface-color: rgb(0 0 0 / 100%);
  --on-surface-dim-color: rgb(0 0 0 / 50%);
  --text-color: var(--on-surface-color);

  /* Variables for font sizes */
  --font-size-body: 20px;
  --font-size-body-small: 16px;
  --font-size-subtitle: 18px;
  --font-size-logo: 20px;

  /* Variables for font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Variables for spaces */
  --space-medium: 24px;
  --space-large: 40px;
}
