@if (pageData && sortingSettings) {
	<div class="table-wrapper">
		<mat-table class="table"
							 [dataSource]="pageData.results"
							 [trackBy]="trackByAnime"
							 matSort
							 (matSortChange)="onSortData($event)"
							 [matSortActive]="sortingSettings.sortField"
							 [matSortDirection]="sortingSettings.direction"
							 >

			<ng-container matColumnDef={{columnsIndexes.Image}}>
				<mat-header-cell *matHeaderCellDef class="table__title"> {{columnsHeaders.Image}} </mat-header-cell>
				<mat-cell *matCellDef="let element" class="table__content cover">
					<div class="cover__wrapper">
						<img [ngSrc]="element.image"
								 fill
								 [alt]="element.japaneseTitle ? element.japaneseTitle + ' cover' : 'Anime cover'"
								 class="cover__image">
					</div>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef={{columnsIndexes.EnglishTitle}}>
				<mat-header-cell *matHeaderCellDef
													mat-sort-header
													class="table__title"> {{columnsHeaders.EnglishTitle}} </mat-header-cell>
				<mat-cell *matCellDef="let element" class="table__content" title={{element.englishTitle}}>
					<p class="content__text">
						{{element.englishTitle | empty}}
					</p>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef={{columnsIndexes.JapaneseTitle}}>
				<mat-header-cell *matHeaderCellDef class="table__title"> {{columnsHeaders.JapaneseTitle}}</mat-header-cell>
				<mat-cell *matCellDef="let element" class="table__content content" title={{element.japaneseTitle}}>
					<p class="content__text">
						{{element.japaneseTitle | empty}}
					</p>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef={{columnsIndexes.AiredStart}}>
				<mat-header-cell *matHeaderCellDef
													mat-sort-header
													class="table__title"> {{columnsHeaders.AiredStart}} </mat-header-cell>
				<mat-cell *matCellDef="let element" class="table__content"> {{element.aired.start | date: "mediumDate" | empty}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef={{columnsIndexes.Type}}>
				<mat-header-cell *matHeaderCellDef class="table__title"> {{columnsHeaders.Type}} </mat-header-cell>
				<mat-cell *matCellDef="let element" class="table__content"> {{element.type | empty}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef={{columnsIndexes.Status}}>
				<mat-header-cell *matHeaderCellDef
													mat-sort-header
													class="table__title"> {{columnsHeaders.Status}} </mat-header-cell>
				<mat-cell *matCellDef="let element" class="table__content"> {{element.status | empty}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
			<mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

		</mat-table>
		<mat-paginator [length]="pagesCount"
									 [pageSize]="pageSize"
									 [pageIndex]="pageIndex"
									 [pageSizeOptions]="pageSizeOptions"
									 (page)="onPageChanged($event)"
									 aria-label="Select page"/>
	</div>
}

