.table-wrapper {
	box-shadow:
		inset 0 5px 5px -3px rgb(0 0 0 / 20%),
		0 8px 10px 1px rgb(0 0 0 / 14%),
		0 3px 14px 2px rgb(0 0 0 / 12%);
}

.table {
	width: 100%;
}

.table__title {
	justify-content: center;
	text-transform: uppercase;
	font-size: var(--font-size-sm);
	text-align: center;
}

.table__content {
	justify-content: center;
	font-size: var(--font-size-xs);
	padding: var(--space-xs) var(--space-s);
}

.content__text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cover__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 150px;
	height: 150px;
}

.cover__image {
	width: 100%;
	height: auto;
	object-fit: contain;
}

@media (min-width: 786px) {
	.table__title {
		font-size: var(--font-size-base);
	}

	.table__content {
		font-size: var(--font-size-sm);
	}
}

@media (min-width: 1280px) {
	.table__title {
		font-size: var(--font-size-md);
	}

	.table__content {
		font-size: var(--font-size-base);
	}
}
